---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

export const prerender = true;

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

const title = entry.data.title;
const author = 'Muhammad Sayyedul Awwab';
const description = entry.data.metaDescription;

const pageUrl = `/blog/${entry.slug}`;
---

<BaseLayout
  title={title}
  author={author}
  description={description}
  pageUrl={pageUrl}
>
  <div class="mx-auto prose md:prose-md lg:prose-lg">
    <Content />
  </div>
</BaseLayout>
