---
import { info } from '../data/info';

import Icon from './Icon.astro';

const startDate = new Date('2022-09-07'); // your start date
const today = new Date();

let years = today.getFullYear() - startDate.getFullYear();
let months = today.getMonth() - startDate.getMonth();

// Adjust if the current month/day hasn't passed the start month/day yet
if (months < 0 || (months === 0 && today.getDate() < startDate.getDate())) {
  years -= 1;
  months += 12;
}

if (today.getDate() < startDate.getDate()) {
  months -= 1;
}

const experienceString =
  years > 0
    ? months > 0
      ? `${years} year${years > 1 ? 's' : ''} ${months} month${months > 1 ? 's' : ''}`
      : `${years} year${years > 1 ? 's' : ''}`
    : `${months} month${months > 1 ? 's' : ''}`;
---

<section id="hero" class="min-h-screen flex items-center justify-between">
  <!-- <img src="/assets/images/propic.png" alt="profile" /> -->
  <div>
    <p>
      <strong>Hi 👋 I'm</strong>
    </p>
    <h1 class="text-2xl font-bold">{info.name}</h1>

    <div class="py-4 text-gray-800">
      <p class="mb-3">
        <strong>Software Engineer</strong> with {experienceString} of experience
        and passionate about building scalable, reliable, maintainable and performant
        systems using
        <strong
          >.NET Core, Clean Architecture, CQRS, Domain-Driven Design (DDD)
        </strong>etc.
      </p>
      <p>
        Eager to excel in the software engineering track, I aspire to evolve
        into a <strong>Software Architect</strong> role, guiding teams and crafting
        robust, high-quality systems.
      </p>
      <p class="mt-3">
        If you're a software engineer—whether just starting out or
        experienced—or a hiring manager passionate about building great
        systems, <strong>let's connect</strong> to share knowledge, exchange ideas,
        and explore opportunities to collaborate.
      </p>
    </div>
    <p class="flex gap-3 items-center">
      <a
        href={info.resume.url}
        target="_blank"
        rel="noopener noreferrer"
        class="bg-black text-white flex justify-between items-center gap-2 px-3 py-1 rounded-lg"
      >
        <span>Download Resume</span>
        <Icon
          class="text-white"
          src={info.resume.logo}
          alt="Resume | Sayyedul Awwab"
        />
      </a>
      <a
        href={info.socialMedia.github.url}
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon
          src={info.socialMedia.github.logo}
          alt="GitHub | Sayyedul Awwab"
        />
      </a>
      <a
        href={info.socialMedia.linkedin.url}
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon
          src={info.socialMedia.linkedin.logo}
          alt="LinkedIn | Sayyedul Awwab"
        />
      </a>
      <a
        href={info.socialMedia.medium.url}
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon
          src={info.socialMedia.medium.logo}
          alt="Medium | Sayyedul Awwab"
        />
      </a>
    </p>
  </div>
</section>
