---
import { info } from '../data/info';

import SkillItem from './SkillItem.astro';

const skills = info.skills;
---

<section id="skills" class="mb-10">
  <h2 class="font-bold text-2xl">Tools & Technologies</h2>
  <div class="md:flex md:justify-between">
    <div class="py-4">
      <!-- <h3 class="font-semibold">Languages</h3> -->
      <ul class="md:flex flex-wrap gap-8">
        {skills.languages.map(skill => <SkillItem skill={skill} />)}
        {skills.frameworks.map(skill => <SkillItem skill={skill} />)}
        {skills.tools.map(skill => <SkillItem skill={skill} />)}
      </ul>
    </div>
    <!-- <div class="py-4">
      <h3 class="font-semibold">Frameworks, Platforms & Libraries</h3>
      <ul>
        {skills.frameworks.map(skill => <SkillItem skill={skill} />)}
      </ul>
    </div>

    <div class="py-4">
      <h3 class="font-semibold">Tools</h3>
      <ul>
        {skills.tools.map(skill => <SkillItem skill={skill} />)}
      </ul>
    </div> -->
  </div>
</section>
